/* resets and typography */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    border-top: 1em solid black;
}

body {
    margin-top: 2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-size: 68px;
    margin-bottom: 0.33em;
}

h2 {
    font-size: 42px;
    margin-bottom: 0.33em;
}

h3 {
    font-size: 26px;
    margin-bottom: 0.33em;
}

p {
    margin-bottom: 1em;
}

p strong {
    font-weight: bold;
}

input {
    border: 1px solid black;
    padding: 0.33em;
    font-size: 1.5em;
}

input[type=button]:hover {
    background: black;
    color: #ccc;
}

/* layout */
/*
div#title {
    margin-bottom: 2em;
}
*/
div#input {
    margin-bottom: 2em;
}
